In [41]:
# VacationPy.ipynb
# Jack Cohen

# Dependencies
from datetime import datetime
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import requests as req
import csv
import gmaps
import os
from citipy import citipy as cp
from api_keys import weather_key
from api_keys import g_key
from scipy import stats

# Configure gmaps
gmaps.configure(api_key=g_key)

In [42]:
# Import Data
data_df = pd.read_csv(r'../WeatherPy/city_data.csv')
data_df.head()

,City,Country,Latitude,Longitude,Temperature (F),Min Temperature (F),Max Temperature (F),Pressure (hPa),Humidity (%),Cloudiness (%),Wind Speed (mph),Date (UTC)
0,rikitea,PF,-23.1203,-134.9692,73.98,73.98,73.98,1019,79,91,13.18,1627500010
1,ushuaia,AR,-54.8000,-68.3000,42.46,42.46,44.22,1011,87,75,3.44,1627500090
2,ponta do sol,PT,32.6667,-17.1000,74.28,73.13,75.70,1018,76,1,3.67,1627500091
3,never,RU,53.9833,124.1667,59.14,59.14,59.14,1001,100,74,3.51,1627500091
4,mar del plata,AR,-38.0023,-57.5575,45.77,44.62,47.08,1019,63,75,3.00,1627500053

In [43]:
# Store lats and longs in locations
locations = data_df[['Latitude','Longitude']]
humidity = data_df['Humidity (%)'].astype(float)

# Plot Heatmap
figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'}
fig = gmaps.figure(layout=figure_layout) 

heat_layer = gmaps.heatmap_layer(locations,weights=humidity,dissipating=False,
                                 max_intensity=100,point_radius=2)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wiâ€¦

In [44]:
# Narrow down DataFrame to find ideal weather condition (Between 70-80F, wind <10mph, 0% clouds)
ideal_df = data_df.loc[data_df['Max Temperature (F)']>70]
ideal_df = ideal_df.loc[ideal_df['Max Temperature (F)']<80]
ideal_df = ideal_df.loc[ideal_df['Wind Speed (mph)']<10]
ideal_df = ideal_df.loc[ideal_df['Cloudiness (%)']==0]
ideal_df = ideal_df.drop(columns=['Pressure (hPa)','Temperature (F)','Min Temperature (F)'])
ideal_df

,City,Country,Latitude,Longitude,Max Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Date (UTC)
103,bafra,TR,41.5678,35.9069,74.98,71,0,8.37,1627500146
114,magomeni,TZ,-6.8000,39.2500,72.84,81,0,8.21,1627500152
146,ukrayinka,UA,47.9167,35.3500,77.32,53,0,7.00,1627500171
173,constitucion,MX,23.9912,-104.6749,76.14,43,0,8.99,1627500188
281,zhangye,CN,38.9342,100.4517,74.59,22,0,7.09,1627500267
369,paveh,IR,35.0434,46.3565,76.15,21,0,4.29,1627500343
402,baoning,CN,25.3378,110.0260,78.66,83,0,4.47,1627500370
439,ovalle,CL,-30.5983,-71.2003,72.46,15,0,4.12,1627500401

In [45]:
# Find first hotel for each city located within 5000 meters of coordinates
hotel_df = ideal_df
hotel_df['Hotel Name'] = ''

params = {
    "radius": 50000,
    "types": "lodging",
    "keyword": "hotel",
    "key": g_key}

# Identify coordinates to identify hotels
for index, row in hotel_df.iterrows():
    lat = row['Latitude']
    lon = row['Longitude']
    
    params['location'] = f"{lat},{lon}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    name_address = req.get(base_url, params=params).json()
    
    try:
        hotel_df.loc[index,'Hotel Name'] = name_address['results'][0]['name']
        
    except Exception as e:
        print(e)

In [46]:
hotel_df

,City,Country,Latitude,Longitude,Max Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Date (UTC),Hotel Name
103,bafra,TR,41.5678,35.9069,74.98,71,0,8.37,1627500146,Sheraton Grand Samsun Hotel
114,magomeni,TZ,-6.8000,39.2500,72.84,81,0,8.21,1627500152,The Residence Zanzibar
146,ukrayinka,UA,47.9167,35.3500,77.32,53,0,7.00,1627500171,Khortitsa Palace Hotel
173,constitucion,MX,23.9912,-104.6749,76.14,43,0,8.99,1627500188,Hotel Gobernador
281,zhangye,CN,38.9342,100.4517,74.59,22,0,7.09,1627500267,Huachen International Hotel Zhangye
369,paveh,IR,35.0434,46.3565,76.15,21,0,4.29,1627500343,Halabja palace Hotel
402,baoning,CN,25.3378,110.0260,78.66,83,0,4.47,1627500370,Shangri-La Hotel
439,ovalle,CL,-30.5983,-71.2003,72.46,15,0,4.12,1627500401,Hacienda Santa Cristina

In [47]:
# Plot world with markers on hotels

hotel_locs = hotel_df[['Latitude','Longitude']]
hotel_names = hotel_df['Hotel Name']
hotel_city = hotel_df['City']
hotel_country = hotel_df['Country']

locations = data_df[['Latitude','Longitude']]
humidity = data_df['Humidity (%)'].astype(float)

In [48]:
len(locations)

551

In [49]:
heat_layer = gmaps.heatmap_layer(locations=locations,weights=humidity,dissipating=False,
                                 max_intensity=100,point_radius=1)

info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""

hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

#figure_layout = {
#    'width': '400px',
#    'height': '300px',
#    'border': '1px solid black',
#    'padding': '1px',
#    'margin': '0 auto 0 auto'}

#fig1 = gmaps.figure(layout=figure_layout)

marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)

#fig1.add_layer(heat_layer)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wiâ€¦